.mySwiper {
    width: 60%;
    height: 720px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImg {
    display: block;
}

.mySwiper-thumbs {
    width: 100vh;
    overflow: hidden;
    position: relative;
    height: 30vh;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide2 {
    cursor: grab;
    height: 65%;
}

.structureImg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* .bgCarouselContainer {} */

.swiper-slide-thumb-active {
    border: 3px solid #937251;
}