.mySwiper {
    width: 60%;
    height: 720px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainImg {
    display: block;
}

.mySwiper-thumbs {
    width: 100vh;
    overflow: hidden;
    position: relative;
    height: 30vh;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide2 {
    cursor: grab;
    height: 65%;
}

.structureImg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.bgCarouselContainer {
    background: linear-gradient(45deg,
            rgba(147, 114, 81, 0.3) 3%,
            rgba(163, 131, 96, 0.4) 18%,
            rgba(179, 148, 111, 0.2) 35%,
            rgba(207, 178, 137, 1) 49%,
            rgba(233, 205, 161, 1) 62%,
            rgba(251, 224, 177, 0.5) 71%,
            rgba(251, 224, 177, 0.5) 84%);
    background-blend-mode: normal;
}

.swiper-slide-thumb-active {
    border: 3px solid #937251;
}