.image {
    width: 500px;
    height: 350px;
    border-radius: 10px
}

.right-arrow {
    position: absolute;
    bottom: 5%;
    right: 40%;
    font-size: 1.5rem;
    color: #FFF;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    border: 1px solid #937251;
    border-radius: 18px;
}

.left-arrow {
    position: absolute;
    bottom: 5%;
    left: 40%;
    font-size: 1.5rem;
    color: #FFF;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    border: 1px solid #937251;
    border-radius: 18px;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease-in-out;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
}